canvas, 
bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Move the canvas behind other elements */
}

bg {
    left: 500; /* Adjusted left position */
}

header {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 83px;
    left: 1100px;
    z-index: 1; /* Ensure the header is above the canvas */
}


.image-div {
    display: absolute; /* Ensure elements are displayed inline */
    margin: 1px; /* Adjust margin as needed */
    padding: 0px; /* Adjust padding as needed */
}






@font-face {
    font-family: 'Marola';
    src: url('/fonts/marola.TTF') format('truetype');
}

/* Apply font families directly to specific elements */
h1, 
h2, 
h3, 
h4,
a {
    font-family: 'Marola', sans-serif;
}

h1 {
    position: absolute;
    font-size: 500px;
    right: -800px;
}

h2 {
    position: absolute;
    bottom: 1px;
    font-size: 100px;
    left: 450px;
}

h3 {
    font-size: 250px;
    right: -180px;
}

h4 {
    position: absolute;
    font-size: 200px;
    left: -100px;
}

a {
    text-decoration: none; /* Remove underline */
    color: rgb(8, 154, 45); 
    /* Add additional styles as needed */
}

/* Adjustments for scaling and positioning */
.image-div {
    padding: 20px; /* Add padding to create space around the content */
}

#glob,
#glob1,
#glob2,
#glob5,
#glob6,
#glob7,
#glob8 {
    position: relative; /* Set position to relative */
    transform-origin: top left; /* Set transform origin to top left */
}

#glob {
    transform: scale(0.5);
}

#glob1 {
    transform: scale(0.4);
}

#glob2 {
    transform: scale(0.5);
}

#glob3 {
    transform: scale(0.7);
}

#glob4 {
    transform: scale(0.8);
}

#glob5,
#glob6,
#glob7 {
    transform: scale(0.7);
    left: 0;
}

#glob8 {
    left: 0;
    transform: scale(0.5);
}


#glob9 {
    left: 10;
    transform: scale(0.5);
}
